.button {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 0.4rem;
  padding: 0.7rem 2rem;
  cursor: pointer;
  margin-right: 1rem;
}

.button__button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  margin-left: 1rem;
  background-color: transparent;
}

.button__icon svg {
  font-size: 2rem;
}

.button:hover {
  transform: scale(1.02);
}

.button:active {
  outline: 2px solid #fff;
}
